@import "/src/colors";

.chat-container {
    display: flex;
    justify-content: center;

    .chat {
        width: 336px;
        background-color: $gray-light;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
}
